<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <connectionStrings>
    <add name="InventoryManagementConnection"
         connectionString="Data Source=DESKTOP-TK48S3J;Initial Catalog=InventoryManagement;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="SuppliesTable" value="SuppliesInventory" />
    <add key="AssetsTable" value="AssetsInventory" />
    <add key="ApplicationName" value="Inventory Management System" />
  </appSettings>

  <loggingConfiguration>
    <add key="LogFolderPath" value="%TEMP%\InventorySystem_Logs" />
    <add key="LogFolderName" value="InventorySystem_Logs" />
    <add key="LogFileNamePrefix" value="InventorySystem_Log" />
    <add key="LogFileExtension" value=".txt" />
    <add key="AutoCleanupOldLogs" value="true" />
    <add key="LogRetentionDays" value="30" />
  </loggingConfiguration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>